version: 2
jobs:
   build:
     docker:
       - image: iancolwell/xenial_user:latest
     steps:
       - checkout
       - run: bash scripts/install_apps.bash
       - run: dbus-launch
       - run: bash scripts/configure_desktop.bash
